<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/index.css"/>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    </head>

<body>

    <div id="navbar">
        <h1 id="page_title">Webpage title goes here</h1>
    </div>

    <% for (let i = 0; i < posts.length; i++) { %>
        <form action="deletepost?_method=delete" method="post">
            <article>
                <p name="title_p"><%= posts[i].title %></p>
                <p name="body_content"><%= posts[i].body_content %></p>
                <p name="id"><%= posts[i].id %></p>
                <input type="hidden" name="title"><%= posts[i].title %></input>
            </article>
            <input type="submit" name="_method" value="delete"></input>
        </form>
    <% } %>
    <form action="addpost" method="POST">
        <div class="input_area">
            <input type="text" name="title"></input>
            <textarea name="body_content"></textarea>
        </div>
        <input type="submit" value="Add Post"/>
    </form>

</body>
</html>