<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/index.css"/>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    </head>

<body>

    <div id="navbar">
        <!--
        <h1 id="page_title">Webpage title goes here</h1>
    -->
        <form action="home" method="get">
            <button class="post_link " id="page_title_button">Website title goes here </button>
        </form>
    </div>
    <div class="body_contents">
        <% for (let i = 0; i < posts.length; i++) { %>
            <div class="blog_entry">
                <article>
                    <form action="getblogpost" method="GET">
                    <!--
                        <input type="hidden" name="title_p" value="<%= posts[i].title %>"></input>
                    -->
                        <input type="hidden" name="post_id" value="<%= posts[i].id %>"></input>
                        <button class="post_link"><%= posts[i].title %></button>
                    </form>
                    <p> <%= posts[i].body_content %> </p>

                  </article>
            </div>
        <% } %>

          <button class="collapsible">Add new post</button>
        <div class="content">
            <form action="addpost" method="POST">
                <div class="input_area">
                    <input type="text" name="title"></input>
                    <textarea name="body_content"></textarea>
                </div>
                <input type="submit" value="Add Post"/>
            </form>
        </div>

          <script type="text/javascript" src="scripts/index.js">
        </script>
    </div>

</body>
</html>